 .u-section-1 {
  background-image: none;
  min-height: 1094px;
}

.u-section-1 .u-group-1 {
  width: 283px;
  background-image: linear-gradient(#4e309a, #4e90e2);
  min-height: 1094px;
  height: auto;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + -88px);
}

.u-section-1 .u-container-layout-1 {
  padding: 16px 0 17px;
}

.u-section-1 .u-image-1 {
  width: 93px;
  height: 73px;
  margin: 0 auto 0 72px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 65px auto 0 62px;
  padding: 8px 45px 8px 43px;
}

.u-section-1 .u-icon-1 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 47px 17px 0 auto;
  padding: 8px 43px 8px 42px;
}

.u-section-1 .u-icon-2 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 53px auto 0 62px;
  padding: 8px 44px 8px 43px;
}

.u-section-1 .u-icon-3 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 47px 50px 0 auto;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-icon-4 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: 47px auto 0 62px;
  padding: 8px 45px 8px 43px;
}

.u-section-1 .u-icon-5 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: 47px 43px 0 auto;
  padding: 8px 48px;
}

.u-section-1 .u-icon-6 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: 40px 48px 0 auto;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-icon-7 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  margin: 214px auto 0 62px;
  padding: 8px 42px 8px 41px;
}

.u-section-1 .u-icon-8 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 54px;
  height: 55px;
  margin: -1067px calc(((100% - 1140px) / 2) + -15px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: -23px 0 0 calc(((100% - 1140px) / 2) + 964px);
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -46px calc(((100% - 1140px) / 2) + 47px) 0 calc(((100% - 1140px) / 2) + 983px);
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -18px auto 0 calc(((100% - 1140px) / 2) + 215px);
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 122px calc(((100% - 1140px) / 2) + 286px) 0 auto;
  padding: 7px 24px 8px 23px;
}

.u-section-1 .u-group-2 {
  width: 308px;
  min-height: 253px;
  height: auto;
  margin: -38px calc(((100% - 1140px) / 2) + -36px) 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #4e309a, #4e90e2);
  margin: 19px auto 0 0;
  padding: 10px 22px;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  margin: -34px 65px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -249px auto 0 calc(((100% - 1140px) / 2) + 218px);
}

.u-section-1 .u-group-3 {
  width: 636px;
  min-height: 71px;
  height: auto;
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + 214px);
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  margin: 13px auto 0 51px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 27px;
  height: 25px;
  margin: -11px auto 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.75rem;
  margin: -9px auto 0 51px;
}

.u-section-1 .u-group-4 {
  width: 639px;
  min-height: 71px;
  height: auto;
  margin: 13px auto 0 calc(((100% - 1140px) / 2) + 214px);
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-9 {
  margin: 13px auto 0 51px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.75rem;
  margin: 5px auto 0 51px;
}

.u-section-1 .u-image-4 {
  width: 28px;
  height: 25px;
  margin: -32px auto 0 0;
}

.u-section-1 .u-group-5 {
  width: 639px;
  min-height: 71px;
  height: auto;
  margin: 13px auto 0 calc(((100% - 1140px) / 2) + 215px);
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-image-5 {
  width: 27px;
  height: 27px;
  margin: 22px auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: -36px auto 0 51px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-size: 0.75rem;
  margin: 5px auto 0 51px;
}

.u-section-1 .u-group-6 {
  width: 308px;
  min-height: 216px;
  height: auto;
  margin: -29px calc(((100% - 1140px) / 2) + -36px) 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-text-13 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-14 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-1 .u-btn-15 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #4e309a, #4e90e2);
  margin: 22px auto 0 0;
  padding: 10px 22px;
}

.u-section-1 .u-btn-16 {
  border-style: solid;
  font-size: 1rem;
  margin: -34px 9px 0 auto;
  padding: 0;
}

.u-section-1 .u-group-7 {
  width: 638px;
  min-height: 71px;
  height: auto;
  margin: -177px auto 0 calc(((100% - 1140px) / 2) + 215px);
}

.u-section-1 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-15 {
  margin: 13px auto 0 51px;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-16 {
  font-size: 0.75rem;
  margin: 5px auto 0 51px;
}

.u-section-1 .u-image-6 {
  width: 37px;
  height: 25px;
  margin: -34px auto 9px 0;
}

.u-section-1 .u-group-8 {
  width: 639px;
  min-height: 71px;
  height: auto;
  margin: 13px auto 0 calc(((100% - 1140px) / 2) + 214px);
}

.u-section-1 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-17 {
  margin: 13px auto 0 51px;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-18 {
  font-size: 0.875rem;
  margin: 5px auto 0 51px;
}

.u-section-1 .u-image-7 {
  width: 29px;
  height: 25px;
  margin: -34px auto 9px 0;
}

.u-section-1 .u-btn-19 {
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  font-weight: normal;
  margin: 21px calc(((100% - 1140px) / 2) + 285px) 0 auto;
  padding: 10px 15px 10px 14px;
}

.u-section-1 .u-search-1 {
  height: auto;
  width: 336px;
  min-height: 41px;
  margin: -40px auto 0 calc(((100% - 1140px) / 2) + 218px);
}

.u-section-1 .u-shape-1 {
  width: 127px;
  height: 40px;
  margin: -41px calc(((100% - 1140px) / 2) + 443px) 0 auto;
}

.u-section-1 .u-text-19 {
  margin: -35px 522px 60px calc(((100% - 1140px) / 2) + 607px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1146px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1146px;
    margin-left: calc(((100% - 940px) / 2) + -88px);
    height: auto;
  }

  .u-section-1 .u-btn-7 {
    padding-right: 45px;
  }

  .u-section-1 .u-btn-8 {
    padding-right: 44px;
    padding-left: 43px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1119px;
    margin-right: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -22px;
    margin-left: calc(((100% - 940px) / 2) + 764px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 830px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2) + 215px);
  }

  .u-section-1 .u-btn-9 {
    font-size: 0.75rem;
    margin-right: calc(((100% - 940px) / 2) + 86px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 940px) / 2) + -36px);
    height: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
    margin-left: calc(((100% - 940px) / 2) + 218px);
  }

  .u-section-1 .u-group-3 {
    width: 439px;
    margin-top: 30px;
    margin-left: calc(((100% - 940px) / 2) + 214px);
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.625rem;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    width: 439px;
    margin-left: calc(((100% - 940px) / 2) + 214px);
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-group-5 {
    width: 437px;
    margin-left: calc(((100% - 940px) / 2) + 215px);
    height: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -33px;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -21px;
    margin-right: calc(((100% - 940px) / 2) + -39px);
    height: auto;
  }

  .u-section-1 .u-group-7 {
    width: 438px;
    margin-top: -185px;
    margin-left: calc(((100% - 940px) / 2) + 215px);
    height: auto;
  }

  .u-section-1 .u-text-16 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-group-8 {
    width: 439px;
    margin-left: calc(((100% - 940px) / 2) + 214px);
    height: auto;
  }

  .u-section-1 .u-text-18 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-image-7 {
    margin-top: -27px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 48px;
    margin-right: calc(((100% - 940px) / 2) + -39px);
    padding-right: 26px;
    padding-left: 25px;
  }

  .u-section-1 .u-search-1 {
    width: 437px;
    margin-left: calc(((100% - 940px) / 2) + 215px);
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 139px);
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: -33px;
    margin-right: calc(((100% - 940px) / 2) + 156px);
    margin-left: calc(((100% - 940px) / 2) + 714px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1323px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1323px;
    margin-left: calc(((100% - 720px) / 2) + -88px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -1296px;
    margin-right: calc(((100% - 720px) / 2) + -15px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 544px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -49px;
    margin-right: calc(((100% - 720px) / 2) + 42px);
    margin-left: calc(((100% - 720px) / 2) + 568px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -15px;
    margin-left: calc(((100% - 720px) / 2) + 215px);
  }

  .u-section-1 .u-btn-9 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 284px;
    min-height: 300px;
    margin-top: 452px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 29px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
    margin-top: -787px;
    margin-left: calc(((100% - 720px) / 2) + 218px);
  }

  .u-section-1 .u-group-3 {
    width: 530px;
    margin-right: calc(((100% - 720px) / 2) + -24px);
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -5px;
  }

  .u-section-1 .u-group-4 {
    width: 530px;
    margin-right: calc(((100% - 720px) / 2) + -24px);
    margin-left: auto;
  }

  .u-section-1 .u-group-5 {
    width: 529px;
    margin-right: calc(((100% - 720px) / 2) + -24px);
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: -38px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 0;
  }

  .u-section-1 .u-group-6 {
    width: 231px;
    min-height: 301px;
    margin-top: 195px;
    margin-right: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-1 .u-container-layout-6 {
    padding: 21px 14px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 14px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 26px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-btn-15 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 8px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-group-7 {
    width: 529px;
    margin-top: -483px;
    margin-right: calc(((100% - 720px) / 2) + -24px);
    margin-left: auto;
  }

  .u-section-1 .u-group-8 {
    width: 526px;
    margin-right: calc(((100% - 720px) / 2) + -24px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 391px;
    margin-right: calc(((100% - 720px) / 2) + -21px);
  }

  .u-section-1 .u-search-1 {
    width: 523px;
    margin-top: -90px;
    margin-right: calc(((100% - 720px) / 2) + -21px);
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 9px;
    margin-right: calc(((100% - 720px) / 2) + 152px);
  }

  .u-section-1 .u-text-19 {
    margin-top: -32px;
    margin-right: calc(((100% - 720px) / 2) + 162px);
    margin-left: calc(((100% - 720px) / 2) + 472px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1587px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1587px;
    margin-left: calc(((100% - 540px) / 2) + -88px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -1560px;
    margin-right: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 364px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 43px);
    margin-left: calc(((100% - 540px) / 2) + 387px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -16px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-9 {
    font-size: 0.625rem;
    margin-top: 67px;
    margin-right: calc(((100% - 540px) / 2) + -20px);
    padding-right: 16px;
    padding-bottom: 9px;
    padding-left: 14px;
  }

  .u-section-1 .u-group-2 {
    width: 349px;
    min-height: 242px;
    margin-top: 460px;
    margin-right: calc(((100% - 540px) / 2) + -20px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 30px;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -36px;
    margin-right: 91px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -726px;
    margin-right: 148px;
    margin-left: calc(((100% - 540px) / 2) + 212px);
  }

  .u-section-1 .u-group-3 {
    width: 354px;
    margin-top: 33px;
    margin-right: calc(((100% - 540px) / 2) + -21px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -12px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -12px;
  }

  .u-section-1 .u-group-4 {
    width: 354px;
    margin-top: 16px;
    margin-right: calc(((100% - 540px) / 2) + -21px);
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -29px;
    margin-left: 8px;
  }

  .u-section-1 .u-group-5 {
    width: 349px;
    margin-top: 16px;
    margin-right: calc(((100% - 540px) / 2) + -18px);
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 23px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-group-6 {
    width: 348px;
    min-height: 248px;
    margin-top: 448px;
    margin-right: calc(((100% - 540px) / 2) + -20px);
  }

  .u-section-1 .u-container-layout-6 {
    padding: 30px 10px 24px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 34px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: -32px;
    margin-right: 36px;
    margin-left: auto;
  }

  .u-section-1 .u-group-7 {
    width: 343px;
    margin-top: -680px;
    margin-right: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -40px;
    margin-bottom: 0;
    margin-left: 8px;
  }

  .u-section-1 .u-group-8 {
    width: 343px;
    margin-top: 15px;
    margin-right: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 8px;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 601px;
    margin-right: calc(((100% - 540px) / 2) + -20px);
  }

  .u-section-1 .u-search-1 {
    width: 349px;
    margin-top: -96px;
    margin-right: calc(((100% - 540px) / 2) + -20px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: 15px;
    margin-right: auto;
  }

  .u-section-1 .u-text-19 {
    margin-top: -33px;
    margin-right: calc(((100% - 540px) / 2) + 224px);
    margin-left: calc(((100% - 540px) / 2) + 250px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3315px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 72px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 46px;
    height: 47px;
    margin-top: -1647px;
    margin-right: calc(((100% - 340px) / 2) + 29px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: -24px;
    margin-right: calc(((100% - 340px) / 2) + 91px);
    margin-left: calc(((100% - 340px) / 2) + 135px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -38px;
    margin-right: calc(((100% - 340px) / 2) + 75px);
    margin-left: calc(((100% - 340px) / 2) + 155px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-top: -17px;
    margin-left: calc(((100% - 340px) / 2) + 29px);
  }

  .u-section-1 .u-btn-9 {
    margin-top: 1651px;
    margin-right: calc(((100% - 340px) / 2));
    padding: 8px 7px 8px 6px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 468px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -35px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -735px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-top: 45px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 25px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -17px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -9px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    margin-right: auto;
  }

  .u-section-1 .u-group-5 {
    width: 336px;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -37px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
    margin-right: auto;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 600px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-search-1 {
    width: 340px;
    margin-top: -100px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-19 {
    margin-right: calc(((100% - 340px) / 2) + 224px);
    margin-left: calc(((100% - 340px) / 2) + 50px);
  }
}