 .u-section-1 {
  background-image: none;
  min-height: 1011px;
}

.u-section-1 .u-group-1 {
  width: 283px;
  background-image: linear-gradient(#4e309a, #4e90e2);
  min-height: 1011px;
  height: auto;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + -88px);
}

.u-section-1 .u-container-layout-1 {
  padding: 16px 0 17px;
}

.u-section-1 .u-image-1 {
  width: 93px;
  height: 73px;
  margin: 0 auto 0 72px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 65px auto 0 62px;
  padding: 8px 45px 8px 43px;
}

.u-section-1 .u-icon-1 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 47px 17px 0 auto;
  padding: 8px 43px 8px 42px;
}

.u-section-1 .u-icon-2 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 53px auto 0 62px;
  padding: 8px 44px 8px 43px;
}

.u-section-1 .u-icon-3 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: normal;
  margin: 47px 50px 0 auto;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-icon-4 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: 47px auto 0 62px;
  padding: 8px 45px 8px 43px;
}

.u-section-1 .u-icon-5 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: 47px 43px 0 auto;
  padding: 8px 48px;
}

.u-section-1 .u-icon-6 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: 40px 48px 0 auto;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-icon-7 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  margin: 214px auto 0 62px;
  padding: 8px 42px 8px 41px;
}

.u-section-1 .u-icon-8 {
  width: 20px;
  height: 20px;
  margin: -30px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 54px;
  height: 55px;
  margin: -984px calc(((100% - 1140px) / 2) + -15px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: -23px 0 0 calc(((100% - 1140px) / 2) + 964px);
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -46px calc(((100% - 1140px) / 2) + 47px) 0 calc(((100% - 1140px) / 2) + 983px);
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -18px auto 0 calc(((100% - 1140px) / 2) + 215px);
}

.u-section-1 .u-group-2 {
  width: 940px;
  min-height: 213px;
  height: auto;
  margin: 53px calc(((100% - 1140px) / 2) + -15px) 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 51px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 183px;
  height: 146px;
  margin: -117px 48px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 460px;
  min-height: 228px;
  height: auto;
  margin: 27px auto 0 calc(((100% - 1140px) / 2) + 215px);
}

.u-section-1 .u-container-layout-3 {
  padding: 21px 20px;
}

.u-section-1 .u-icon-9 {
  width: 25px;
  height: 25px;
  margin: 5px auto 0 5px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0 5px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 6px 5px 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-size: 1rem;
  margin: 46px auto 0 140px;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #4e309a, #4e90e2);
  margin: -35px 5px 0 auto;
  padding: 6px 31px 7px 30px;
}

.u-section-1 .u-group-4 {
  width: 460px;
  min-height: 228px;
  height: auto;
  margin: -228px calc(((100% - 1140px) / 2) + -15px) 60px auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 29px;
}

.u-section-1 .u-icon-10 {
  width: 25px;
  height: 25px;
  margin: 4px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 17px auto 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-1 .u-btn-11 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #4e309a, #4e90e2);
  margin: 39px 0 0 auto;
  padding: 7px 23px 7px 21px;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  font-size: 1rem;
  margin: -26px auto 0 107px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + -88px);
    height: auto;
  }

  .u-section-1 .u-btn-7 {
    padding-right: 45px;
  }

  .u-section-1 .u-btn-8 {
    padding-right: 44px;
    padding-left: 43px;
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 764px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -49px;
    margin-right: calc(((100% - 940px) / 2) + 52px);
    margin-left: calc(((100% - 940px) / 2) + 778px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -15px;
    margin-left: calc(((100% - 940px) / 2) + 215px);
  }

  .u-section-1 .u-group-2 {
    width: 740px;
    margin-right: calc(((100% - 940px) / 2) + -15px);
    height: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-3 {
    margin-top: -103px;
    margin-right: 27px;
  }

  .u-section-1 .u-group-3 {
    width: 347px;
    min-height: 231px;
    margin-left: calc(((100% - 940px) / 2) + 215px);
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 4px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 49px;
    margin-left: 51px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -36px;
    padding-top: 7px;
    padding-right: 22px;
    padding-left: 21px;
  }

  .u-section-1 .u-group-4 {
    width: 366px;
    margin-right: calc(((100% - 940px) / 2) + -15px);
    height: auto;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + -88px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + -15px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 544px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -45px;
    margin-right: calc(((100% - 720px) / 2) + 44px);
    margin-left: calc(((100% - 720px) / 2) + 566px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -19px;
    margin-left: calc(((100% - 720px) / 2) + 215px);
  }

  .u-section-1 .u-group-2 {
    width: 520px;
    margin-right: calc(((100% - 720px) / 2) + -15px);
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 56px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -90px;
    margin-right: 8px;
  }

  .u-section-1 .u-group-3 {
    width: 520px;
    margin-right: calc(((100% - 720px) / 2) + -15px);
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 7px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 46px;
    margin-right: 145px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-10 {
    font-size: 0.75rem;
    margin-top: -33px;
  }

  .u-section-1 .u-group-4 {
    width: 520px;
    min-height: 227px;
    margin-top: 27px;
    margin-right: calc(((100% - 720px) / 2) + -15px);
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 39px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 157px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + -88px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 364px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 430px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -31px;
    margin-left: calc(((100% - 540px) / 2) + 214px);
  }

  .u-section-1 .u-group-2 {
    width: 341px;
    min-height: 219px;
    margin-top: 61px;
    margin-right: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-1 .u-container-layout-2 {
    padding: 19px 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 27px;
    margin-left: 17px;
  }

  .u-section-1 .u-image-3 {
    width: 148px;
    height: 102px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-group-3 {
    width: 341px;
    margin-top: 31px;
    margin-right: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 5px;
  }

  .u-section-1 .u-group-4 {
    width: 341px;
    min-height: 241px;
    margin-right: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2168px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 84px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1079px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-left: calc(((100% - 340px) / 2) + 164px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -41px;
    margin-right: calc(((100% - 340px) / 2) + 47px);
    margin-left: calc(((100% - 340px) / 2) + 183px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-top: -14px;
    margin-left: calc(((100% - 340px) / 2) + 25px);
  }

  .u-section-1 .u-group-2 {
    margin-top: 1078px;
    margin-right: auto;
  }

  .u-section-1 .u-group-3 {
    margin-right: auto;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 7px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 6px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 79px;
  }
}